includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src
        - tests

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$payload#'
          path: src/Traits/HasMeta.php
        - message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$robots#'
          path: src/Traits/HasMeta.php
